* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

h1 {
  margin: 3rem 0 1rem;
  color: #4f7993;
}

#grid {
  width: 80vw;
  height: 80vw;
  margin: 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: pointer;
}

.cell {
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
  background-color: #fafad2;
  box-shadow: 3px 3px 2px #646454, -3px -3px 2px #fffff2;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.block-cell {
  pointer-events: none;
}

.w-10 {
  width: calc(100% / 10 - 0.5rem * 9 / 10);
}

.w-9 {
  width: calc(100% / 9 - 0.5rem * 8 / 9);
}

.w-7 {
  width: calc(100% / 7 - 0.5rem * 6 / 7);
}

.color-ok {
  color: white;
  background-color: #4f7993;
}

.color-error {
  color: white;
  background-color: #bd6464;
}

.score {
  text-align: center;
}
